# Outliers Detection and Removal using IQR

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("500_Person_Gender_Height_Weight_Index.csv")

In [3]:
df.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [6]:
# calculate quantile 
Q1, Q2, Q3 = df['Height'].quantile([.25, .50, .75])
print("Q1 25 percentile of the given data is: ", Q1)
print("Q2 50 percentile of the given data is: ", Q2)
print("Q3 75 percentile of the given data is: ", Q3)

Q1 25 percentile of the given data is:  156.0
Q2 50 percentile of the given data is:  170.5
Q3 75 percentile of the given data is:  184.0

In [7]:
# iqr 
IQR = Q3 - Q1 
print(IQR)

28.0

In [9]:
# set upper and lower limit 
lower = Q1 - 1.5 * IQR 
upper = Q3 + 1.5 * IQR 
lower, upper

(114.0, 226.0)

In [13]:
# detect & removal outliers 
df_new = df[(df['Height'] < upper) & (df['Height'] > lower)]
df_new

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]

In [14]:
df.shape, df_new.shape

((500, 4), (500, 4))